rules_version = '2';
service cloud.firestore {
  match /databases/remixed-firestore-database-id/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
